body {
  text-align: center;
  }

.Users {
    font-family: Arial, sans-serif;
    color: #333; 
    background: white;
    padding: 10px;
  }
  
.Users h1 {
    font-size: 32px; 
    margin-bottom: 20px;
    color: #007bff; 
  }
  
.Users ul {
    list-style-type: none;
    padding: 0;
  }
  
.Users li {
    margin-bottom: 15px; 
    font-size: 18px; 
    color: #555; 
  }
  
.Users li strong {
    margin-right: 10px; 
    color: #28a745; 
  }
  